{% set title = title is defined ? title :
    (site.currentPage ?
        ((site.currentPage.get('meta_title') ? site.currentPage.get('meta_title') : site.currentPage) ~ ' | ' ~ site)
        : site
    )
%}
{% set description = site.currentPage and site.currentPage.get('meta_description') ? site.currentPage.get('meta_description') : site.get('meta_description') %}
{% set image = site.currentPage and site.currentPage.get('meta_image') ? site.currentPage.get('meta_image') : site.get('meta_image') %}
<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:title" content="{{ title }}">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ app.request.uri }}">
{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
{% endif %}
{% if image and image.url %}
    <meta property="og:image" content="{{ image.url }}">
    <meta name="twitter:image" content="{{ image.url }}">
{% endif %}
